.date-button
  position: relative

  &.show
    .date-picker
      visibility: visible

  .date-picker
    visibility: hidden
    position: absolute
    margin-top: 10px
    background-color: #ffffff
    z-index: 9999