body,html
  margin: 0;
  height: 100vh
  font-family: 'Roboto'

#app
  height: 100%

.pages
  height: 100%

.container
  background-color: #ffffff
  border-radius: 5px
  box-shadow: 1px 1px 5px 0 #000