@import './colors.styl'

body,html
  margin: 0;
  height: 100vh
  font-family: 'Roboto'

#app
  height: 100%

.pages
  height: 100%

.container
  background-color: #ffffff
  border-radius: 5px
  box-shadow: 1px 1px 5px 0 #000

table
  border-collapse: collapse
  width: 100%

  thead 
    tr th
      text-align: start
      font-weight: 800
      color: analogousD900
      border-bottom: 1px solid analogousD800
      padding: 10px 10px

  tbody
    tr
      &:not(:last-child)
        border-bottom: 1px solid analogousD800
      td
        padding 10px 10px