@import '../../colors.styl'

.top-bar
  background-color: primary900
  height: 70px
  display: flex
  justify-content: space-between
  align-items: center
  align-content: center

  .app-title
    color: #fff
    font-weight: 800
    font-size: 2.125rem