@import '../../colors.styl'

.top-bar
  background-color: primary900
  height: 70px
  display: flex
  justify-content: space-between
  align-items: center
  align-content: center
  color: #fff

  .app-title
    font-weight: 800
    font-size: 2.125rem

  .user-menu
    margin-right: 20px